<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<!-- О том, как отображает данные Vue -->
		<div id="app1">
			<b>APP1</b>
			<p>{{message}}</p>
		</div>

		<!-- При наведении на span, появится подсказка, которая записана в message, похожезаэто отвечает v-bind, но я не понимаю, как он работает -->
		<div id="app2">
			<b>APP2</b>
			<span v-bind:title="message">
				Наведи на меня курсор на пару секунд, чтобы увидеть динамически
				связанное значение title!
			</span>
		</div>

		<!-- v-if управляет присутствием элемента в DOM-->
		<div id="app3">
			<b>APP3</b>
			<span v-if="seen">Данное сообщение видно, пока seen = true</span>
		</div>

		<!-- v-for работает как цикл "for in", на сколько я понимаю это аналог map в react -->
		<div id="app4">
			<b>APP4</b>
			<ol>
				<li v-for="todo in todos">{{todo.text}}</li>
			</ol>
		</div>

		<!-- Для отслеживания событий необходимо использовать директиву v-on с указанием метода обработчика, в данном случае таким методом является reversMessage -->
		<div id="app5">
			<b>APP5</b>
			<p>{{message}}</p>
			<button v-on:click="reversMessage">Перевернуть сообщение</button>
		</div>

		<!-- v-model еще одна деректива позволяющая взаимодействовать с пользователем, а именно, работать с input -->
		<div id="app6">
			<b>APP6</b>
			<p>{{message}}</p>
			<input v-model="message" />
		</div>

		<div id="app7">
			<b>APP7</b>
			<ol>
				<!-- 
					todo-item это созданный компонент;
					v-bind:todo в todo мы кладем элемент массива, который мы вытащили из массива groceryList(который находится в экземпляре app7) с помощью v-for
				-->
				<todo-item
					v-for="item in groceryList"
					v-bind:todo="item.text"
					v-bind:key="item.id"
				></todo-item>
			</ol>
		</div>

		<script src="script.js"></script>
	</body>
</html>
