<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<!-- О том, как отображает данные Vue -->
		<div id="app1">{{message1}}</div>

		<!-- При наведении на span, появится подсказка, которая записана в message, похожезаэто отвечает v-bind, но я не понимаю, как он работает -->
		<div id="app2">
			<span v-bind:title="message"
				>Наведи на меня курсор на пару секунд, чтобы увидеть динамически
				связанное значение title!</span
			>
		</div>

		<!-- v-if управляет присутствием элемента в DOM-->
		<div id="app3">
			<span v-if="seen">Данное сообщение видно, пока seen = true</span>
		</div>

		<div id="app4">
			<ol>
				<li v-for="todo in todos">{{todo.text}}</li>
			</ol>
		</div>

		<script src="script.js"></script>
	</body>
</html>
