<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<title>Document</title>
	</head>
	<body>
		<div id="app1">
			<p>Изначальное значение: {{message}}</p>
			<p>Перевернутое значение: {{reverseMessage}}</p>
		</div>

		<div id="app2">{{fullName}}</div>

		<div id="app3">
			<b>APP3</b>
			<input v-model="firstName" />
			<input v-model="lastName" />
			<input v-model="fullName" />
		</div>

		<div id="app4">
			<b>APP4</b>
			<p>{{firstName}}</p>
			<p>{{lastName}}</p>
			<input v-model="fullName" />
		</div>

		<script src="script.js"></script>
	</body>
</html>
